<div class = 'container'>
  <span style = 'font-size:200%'><strong>All Applications</strong></span>
  &nbsp;&nbsp;
  <%= link_to "+ Register App", new_application_path, style: 'color:blue'%>
  <br /><br />
  <% @app.each do |application| %>
    <p><%= link_to application.name, application %></p>
  <% end %>

</div>
